{% extends "base.html" %}

{% block title %}
Event-Übersicht
{% endblock %}


{% block content %}
<a href="{% url 'events:event_create' %}">Event hinzufügen</a><br>
<ul>
    <!-- im Template steht die Liste als object_list zur Verfügung-->

    {% if object_list %}

        {% for object in object_list %}
        <li>
            <a href="{% url 'events:event' object.pk %}">{{object}} [{{object.category}}]</a>
            (von {{object.author.username}}) 
            [<a href="{% url 'events:event_update' object.pk %}">edit</a>]
        </li>
        {% endfor %}

    {% else %}
        <li>Keine Objekte vorhanden</li>
    {% endif %}
</ul>
{% endblock %}